[submodule "Week3/external/pyflow"]
	path = Week3/external/pyflow
	url = https://github.com/pathak22/pyflow.git
[submodule "Week3/external/gmflow"]
	path = Week3/external/gmflow
	url = https://github.com/haofeixu/gmflow.git
[submodule "Week3/external/memflow"]
	path = Week3/external/memflow
	url = https://github.com/DQiaole/MemFlow.git
