[submodule "external/pyflow"]
	path = project1/external/pyflow
	url = https://github.com/pathak22/pyflow.git
[submodule "external/gmflow"]
	path = project1/external/gmflow
	url = https://github.com/haofeixu/gmflow.git
[submodule "external/memflow"]
	path = project1/external/memflow
	url = https://github.com/DQiaole/MemFlow.git
[submodule "external/TransReID"]
	path = project1/external/TransReID
	url = https://github.com/Diiego-H/TransReID.git
